name: 04 - using action
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node ENV
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
      - name: Install dependencies
        run: npm install
        working-directory: 04-using-actions/react-app
      - name: Run unit test
        run: npm run test
        working-directory: 04-using-actions/react-app
